.collections-display {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

#collection-card{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-flow: row;
  text-align: center;
  display: flex;
  flex-direction: row;
  color: white;
  background:#2E3E64;
  text-decoration: none,
}

.collection-image-container{
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%,
}

.collection-image {
  margin: 10px;
}

.card-title{
    line-height: 100%;
    margin: 5px;
    color:white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-basis: 50%;
    font-family: 'Work Sans';
    font-weight: 'bolder',
}

