.collectionsDisplay {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.collectionCard{
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.collectionImage {
  margin: 10px;
  max-width: 90%;
  max-height: 50%;
}

.cardTitle{
    font-size: 60%;
    line-height: 60%;
    color:white;
}

.cardText {
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family:'Work Sans';
}

.swiper-slide .swiper-slide-active{
  display:flex;
  align-items:center;
}

.swiper-button-lock{
    color: #000; 
    opacity:0.7;
    display:block;
    z-index:20;
}

.swiper-container{
  display:flex;
  flex-direction: row;
}