.menu-wrapper{
    display: flex;
    flex-direction: column;
}

.multiselect-grid{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    column-gap:1em;
    row-gap:.25em;
    margin: 0vh auto 0vh auto;
}

.range-filter-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    column-gap: 1em;
    margin: 0vh auto;
}

.multi-select-component{
    width: 40%;
    margin: 0.1vh 0 0.1vh 0;
    min-width: 210px;
}

.filter-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 99%;
    margin-bottom: 1vh;
}

.cancel-and-go-button-wrapper{
    text-align: right;
    text-transform: none;
    margin: 2vh 2vw 1vh 6vw;
}

.filterlabel-text{
    color: #333333;
    font-family: DM Sans;
    font-weight: normal;
    text-align: left;
    margin-bottom: 0.2em;
}

.range-slider-wrapper{
    flex: 0 0 40%;
    margin: .1vh auto .1vh auto;
    min-width: 200px;
}

.range-slider-title{
    text-align: left;
    font-family: DM Sans;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    margin-left: -.5em;
}