.synopsis {
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
}


.book-cover {
    height: 100%;
    width: 100%;
    max-width: 25vw;
    margin: auto 1vw auto 10vw;
    filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.25));
}

.book-title {
    display: inline;
    font-family: 'DM Sans';
    font-size: 2.5em;
    line-height: 2.5em;
    font-weight: 600;
}


.text {
    display: inline;
    font-family: 'DM Sans';
    font-size: 1.125em;
    color: #000000;
    line-height: 1.6875em;
}

.side-card-container {
    margin: auto 1vw auto 1vw
}

.side-card-title {
    text-align: left;
    font-family: 'Work Sans';
    font-size: 1.12em;
    font-weight: 600;
    line-height: 0;
}

.side-card-links {
    text-align: left;
    font-size: 1em;
}

.creator {
    display: inline;
    font-family: 'DM Sans';
    color: #5A5A5A;
    line-height: 1.68em;
}



