.term {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.15px;
    padding-top: 30px;
}

.phonetic-spelling {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.5px;
    padding-top: 5px;
}

.body {
    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 32.13px;
    padding-right: 10%;
    padding-left: 15%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    text-align: left;
}

.more-resources {
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 700;
    padding-top: 3%;
    padding-bottom: 25%;
}

.img {
    display: flex;
    flex-direction: row;
    padding-top: 1.5%;
    padding-left: 1.5%;
}

.wrapTermAndPhoneticSpelling {
    display:inline-block;
    padding:0px;
    margin:0px;
    padding-left: 40px;
}

@media screen and (max-width: 960px) {
    .term {
        font-size: 20px;
        padding-top: 10px;
    }
    .phonetic-spelling {
        font-size: 15px;
    }
    .wrapTermAndPhoneticSpelling {
        padding-left: 20px;
    }
    .more-resources {
        font-size: 16px;
    }
    .body {
        font-size: 16px;
    }
  }
