.term {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.15px;
    padding: 35px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.phonetic-spelling {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.44px;
    line-height: 100%;
    letter-spacing: 0.5px;
    padding-top: 32px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
}

.body {
    font-size: 18px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 32.13px;
    padding-right: 13%;
    padding-left: 13%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}

.more-resources {
    font-family: 'DM Sans';
    font-size: 22px;
    padding-top: 3%;
    padding-bottom: 15%;
    padding-left: 48px;
}

.img {
    display: flex;
    flex-direction: row;
}