.tck-logo-wrapper{
    margin-top: 4.5em;
    flex:0 0 22%;
}

.tck-logo-img{
     max-width: 123px;
     max-height: 115px; 
}

.footer-wrapper{
    display: flex;
    height: 16.5em;
    background: #FCFCFC;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    align-items: start;
    justify-content: space-between;
    padding: 0 2% 2em;
    column-gap: 2rem;
}

.footer-section-wrapper{
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
    text-align: left;
    padding-top: 2.65em; 
}

.footer-title{
    font-family: 'Work Sans';
    font-weight: normal;
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

.footer-text {
    font-size: 0.85rem;
    font-family: 'DM Sans';
    margin-left: 0.2em;
    margin-bottom: .75em;
    color:black;
    text-decoration:none;
}

.footer-text-active{
    font-size: 0.85rem;
    font-family: 'DM Sans';
    margin-left: 0.2em;
    margin-bottom: 1em;
    color:black;
    text-decoration:none;
    font-weight:bold;
}


.donate-button{
    background: #393EBA;
    border-radius: 0.6em;
    letter-spacing:1px;
    color: white;
    font-family: 'Work Sans';
    font-weight: normal;
    font-size:1.05em;
    border: None;
    padding: .9rem 1.1rem;
    margin: 0 0 0 auto;
}

.donate-button:hover{
    background: #000C66;
}

.social-icons-box{
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
    margin: .5em .2em 2em;
    justify-content: start;
}

.blueprint-logo {
    height: 1.2rem;
    margin-top: 1px;
    margin-left: 4px;
}

.bp-logo-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: start;
    margin-bottom: -.75em;
}

@media screen and (max-width:750px) {
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: 100%;
    }
    .footer-section-wrapper {
        text-align: center;
    }
    .social-icons-box{
        justify-content: center;
    }
    .bp-logo-row {
        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        height: 100%;
    }
    .footer-section-wrapper {
        text-align: center;
        padding-top: 1.5em;
    }
    .social-icons-box{
        justify-content: center;
    }
    .bp-logo-row {
        justify-content: center;
    }
    .tck-logo-wrapper{
        margin-top: 2em;
        flex:0 0 22%;
    }
    .tck-logo-img{
        max-height: 75px; 
    }
}

