.header {
    position: fixed; 
    top: 0;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-height: 60px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 0 2%;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: end;
    column-gap:0.75em;
    margin: 0;
}

.nav-link {
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    padding: 0rem 1rem 0rem 0rem;
    height: 100%;
    font-size:1rem;
    font-family:'Work Sans';
    display:flex;
    place-items:center;
    white-space: nowrap;
}

.tck-url {
    font-family: DM Sans;
    font-style: normal;
    font-size: 1rem;
    margin-top: 100;
    color: #292929;
    text-decoration: none;
    padding-left: 1rem;
}

.active {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 1.5px;
}

.nav-style {
    text-decoration: none;
}

.logo {
    width: 100%;
}

.logo-img-container{
    flex-shrink:0;
    margin:0;
    width:210px;
}

.menu-icon {
    color: #393EBA;
}
