.filter-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10; 
}

.multi-select-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1vh auto 1vh auto;
    column-gap:1em;
    row-gap:1.5em;
}

.multi-select-component{
    width: 40%;
    margin: 0.1vh auto 0.1vh auto; 
}

