.QuizButton:hover {
      background-color: #EAF3FE !important;
      color: #393EBA !important;
      border-color: #393EBA !important;
}

/* .avatars:hover {
      background-color: #EAF3FE !important;
      color: #393EBA !important;
      border-color: #393EBA !important;
} */