.quiz-container {
    background: #FAFAFA;
    padding: 5vh 0;

}

.quiz-header {
    font-family: 'DM Sans';
    color: #444444;
    margin-bottom: 12vh;
}

.avatar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: bottom;
    height: 250px;
    width: 200px;
}

.progress-button-box {
    display: flex;
    justify-content: center;
    margin: 12vh 0em 3em 0;
}

.progress-bar-box {
    display: flex; 
    align-items: center;
    flex-wrap: wrap; 
    justify-content: center;
}

.buttonText {
    color: black;
    text-transform: none;
    font-size: 18px;
}

.silly-button {
    text-transform: none;
    color: #444444;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    column-gap: 3em;
    align-items: center;
    min-width: 100%;
    border-radius: 30px;
    background: #ffffff;
    justify-content: center;
    text-transform: none;
}

.silly-button:hover {
    background-color: #EAF3FE !important;
    color: #393EBA !important;
    border-color: #393EBA !important;
}

.woman-question {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 4em;
    column-gap: 3em;
    align-items: center;
    width: 328px;
    height: 50px;
    border: 2.5px solid #D7D7D7;
    border-radius: 30px;
    background: #ffffff;
}

.grade-slider
 {
    margin: auto;
    height: 40vh;
    width: 75vw;
    
    display: flex;
    align-items: center;
 }

@media screen and (max-width: 750px) {
    .quiz-header {
        margin-bottom: 5vh;
    }
    .progress-button-box {
        margin-top: 5vh;
    }
}

