@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

@keyframes fadeIn{
  100% {opacity:1;}
}

.results-wrapper{
  height:80vh;
}
  .results-title{
    font-family:'Work Sans';
    font-weight:bold;
    font-size:2em;
    color:#444444;
    margin-top:3em;
    font-style:normal;
    font-display:swap;
    letter-spacing:-0.01em;
}

.results-text-wrapper{
    width:80%;
}

.results-text{
    font-family:'Work Sans';
    font-size:1.25em;
    margin:1em 0 1em 14em;
    font-weight:normal;
    font-style:normal;
    font-display: swap;
    text-align:left;
    color:#444444;
    opacity:0;
    animation: fadeIn 200ms forwards;
}

.fade-in-animation-delay-4s{
  animation-delay: 900ms;
}

.fade-in-animation-delay-6s{
  animation-delay: 1600ms;
}

.fade-in-animation-delay-8s{
  animation-delay: 2300ms;
}
.down-arrow-image{
    margin-top:3em;
    animation: bounce 0.75s infinite;
}

.recommended-books-section-title-wrapper{
  width:50%;
}
.recommended-books-section-wrapper{
  margin-top:0;
  height:100vh;
}
.recommended-books-section-text{
  margin:3em 0 0 8em;
}

.recommended-books-wrapper{
  height:65vh;
  background:#FCFCFC;
  width:80%;
  display:flex;
  margin:auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  border-radius: 30px;
  margin-top:1.5em;
  display: flex;
  flex-direction:column;
}
