.Start {
    background-image: url( ../../Assets/Images/QuizBackground.svg);
    background-position: top;
    background-repeat: no-repeat;
    display:flex;
   }
   .startButton:hover
   {
         background-color: #ffffff !important;
         color: #393EBA !important;
         border-color: #393EBA !important;
   }