.headings {
    text-align: start;
    color: #2F2F2F;
    font-family: 'Work Sans';
    font-size: 24px;
    padding-left: 2vw;
    margin-bottom: 0;
    margin-top: 7vh;
}

.title {
    font-size: 35px;
    font-family: 'DM Sans';
    font-weight: 600;
    text-align: left;
    padding-left: 6%;
    padding-top: 5%;
    padding-bottom: 2%;
}