.book-list {
    /* align-items: center; */
    width: 82vw;
    margin: auto;
    border: '2px solid green';
}

.book-list-menus {
    display: flex;
    flex-direction: row;
    font-family: Work Sans;
    justify-content: start;
    column-gap: 1vw;
}

.book-list-pagination {
    display: flex;
    justify-content: center;
    font-family: Work Sans;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    border: '2px solid red';
}