.book-list {
    width: 83vw;
    margin: 1rem auto 5rem;
    border: '2px solid green';
}

.book-list-menus {
    display: flex;
    flex-direction: row;
    font-family: Work Sans;
    justify-content: start;
    column-gap: 1vw;
}

.book-list-pagination {
    display: flex;
    justify-content: center;
    font-family: Work Sans;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 1fr;
  /*chanty do you prefer space-between or evenly?*/
  justify-content: space-between;
  margin: 0 -23px 3rem;
}