.book-list {
    width: 82vw;
    margin: auto;
    border: '2px solid green';
}

.book-list-menus {
    display: flex;
    flex-direction: row;
    font-family: Work Sans;
    justify-content: start;
    column-gap: 1vw;
}

.book-list-pagination {
    display: flex;
    justify-content: center;
    font-family: Work Sans;
}

.wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 1fr;
    flex-flow: row wrap;
    margin: 0 -23px;
    /*chanty do you prefer space-between or evenly? */
    justify-content: space-between;
}