.Subtitle {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    line-height: 28px;
    color: #5F5F5F;
    text-align: left;
    margin: 3vh 1vw 2vh 0;
    width: 90%;
}

.SearchBar {
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    width: 90%;
    padding: 1vh 1vw 1vh 1vw;
    margin: 3vh auto 3vh auto;
    text-align: left;
}

.homepage-button{
    text-decoration: none;
    align-items: left;
    margin: 5vh 0 0 0;
}