.collection-heading-full {
  text-align: left;
  color:#444444;
  font-size: 2.6em;
  font-weight: 750;
  margin: 1em 0 0.2em 0;/*1em 0em 0.2em 1em;*/
  font-family: 'DM Sans';
  font-weight: bold;
  letter-spacing:-0.02em;
  width:80%;

}

.collection-heading-mobile {
  font-size: 1.8em;
}

.collection-paragraph {
  text-align: left;
  color: #444444;
  font-size: 1rem;
  margin: 0 0 0.5em 0;/*0em 0em 0.5em 3em;*/
  font-family: 'DM Sans';
  font-weight: 'normal';
  width:90%;
}


.sub-header {
  font-size: 30px;
  font-weight: 550;
}

.collection-card-image{
  width:10%;
  height:10%;
  align:center;
}

.collection-page-wrapper{
  margin: 4em 3em 0em 3em;
}
  