.collectionHeading {
    text-align: left;
    color:#333333;
    font-size: 45px;
    font-weight: 750;
    margin: 2rem 0rem 1rem 4rem;
  }
  
  .collectionParagraph {
    text-align: left;
    color: #333333;
    font-size: 25px;
    margin: 0rem 0rem 1rem 4rem;
  }

  
  .sub-header {
   
    font-size: 30px;
    font-weight: 550;
   
  }

  .collection-card-image{
    width:10%;
    height:10%;
    align:center;
  }
  