@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

#background {
    background: blue; 
}

.Browser {
    width: 55vw;
    margin: 70px auto;
    /*border-radius: 6px; */
    padding-top: 1vh;
    
}

.BrowserQuote {
    margin: 4vh 3vw auto;
    font-size: 1.625em;
    font-family: 'IBM Plex Sans', sans-serif;
    
}
.BrowserHead {
    background: #FFFFFF;
    margin: 70px auto 0 auto;
    box-shadow: 0 2px 0 rgb(77, 76, 83);
    border-radius: 40px 40px 0px 0px;
    
    overflow: hidden;
    text-align: left;

    line-height: 33px;
    

}

.BrowserBody {
    background: #F9F9F9;
    border-radius: 0px 0px 40px 40px;
    padding-top: 1vh;
    white-space: pre-wrap;
}