.swiper-slide .swiper-slide-active{
  display:flex;
  align-items:center;
}

.swiper-button-lock{
    color: #000; 
    opacity:0.7;
    display:block;
    z-index:20;
}

.swiper-container{
  display:flex;
  flex-direction: row;
}

.carousel-button-prev{
    display: flex;
    justify-content: end;
    flex-grow: 1;
    align-items: center;
    margin-right: 30px;
}

.carousel-button-next{
    display: flex;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    margin-left: 30px;
}

.carousel-button-next button{
    border:none;
    border-radius: 9999px;
    background: none;
    color: #D0D0D0;
    margin-left: 10%,
}
.carousel-button-prev button{
    border: none;
    border-radius: 9999px;
    background: none;
    color: #D0D0D0,
}

.collection-carousel-wrapper{
    display: flex;
    flex-direction: row;
}