.swiper-slide .swiper-slide-active{
  display:flex;
  align-items:center;
}

.swiper-button-lock{
    color: #000; 
    opacity:0.7;
    display:block;
    z-index:20;
}

.swiper-container{
  display:flex;
  flex-direction: row;
}

.book-carousel-button-prev{
    display: flex;

    /* justify-content: end; */
    flex-grow: 0;
    place-items: center;
    margin-right: 10px;
}

.book-carousel-button-prev button{
    border: none;
    border-radius: 9999px;
    background: none;
    color: #D0D0D0;
}



.book-carousel-button-next{
    display: flex;
    /* justify-content: start; */
    flex-grow: 0;
    place-items: center;
    margin-left: 10px;
}

.book-carousel-button-next button{
    border: none;
    borderRadius: 9999px;
    background: none;
    color: #D0D0D0;
    /* marginLeft: 10%, */
}

.book-carousel-wrapper{
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 3em 0 10em 0;
}
