.header {
    text-align: center;
    color: royalblue;
    font-size: 45px;
    font-weight: 750;
  }
  
  .paragraph {
    text-align: center;
    font-size: 25px;
  }

  .extra {
      font-size: 20px;
  }