.related-works-card{
    display: flex;
    flex-direction: column;
    /* column-gap:1em; */
    border:solid #c2c2c2;
    /* width:max-content; */
    flex-shrink:1;
    margin-right:0px;
    width: 106.77px;
    height:146.14px
  }

.rec-book-img{
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.swiper-slide{
  flex-shrink:1;
}

.swiper-wrapper{
  width:59.05px;
  margin-left:59.05px;
  /* margin-right:auto; */
}
.swiper-button-prev {
    color: #000; 
}

.swiper-button-next {
    color: #000; 
}

.swiper-container{
  display:flex;
  width:745px
}